.atletica {
  min-height: 100vh;
  background-color: #252525;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  display: flex;
  flex-direction: column;
}

.see-more {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

.see-more:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

