.atletica {
  min-height: 100vh;
  background-color: brown;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  display: flex;
  flex-direction: column;
}

.image-row {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.card {
  height: auto;
  width: 100%;
  flex: 1;
  margin-right: 10px;
  position: relative;
}

.card-image {
  height: auto;
  width: 100%;
}

.card-title {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -00%);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.see-more {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.see-more:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
