.button {
  background-color: #461e64;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: rgba(128, 0, 128, 0.63);
}

.button:active {
  background-color: darkmagenta;
}

.space-divider {
  margin: 10px;
}

.see-more {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

.see-more:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
