.home {
  overflow-y: auto;
}

.container {
  width: auto;
  height: 85vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  text-align: start;
  max-width: 500px;
}

.content {
  margin-top: 32px;
  margin-left: 50px;
  margin-right: 50px;
}
