.forms {
  background-color: black;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  margin: 50px;
  max-width: 50vw;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: white;
}

p,
h1,
h3 {
  color: white;
}

input,
textarea {
  font-size: 1.5em;
  padding: 10px;
  background-color: #a662dd;
  border-radius: 15px;
  border: none;
  flex: 1;
  color: white;
}

::placeholder {
  color: black;
  opacity: 0.5;
}

@media (max-width: 1024px) {
  form {
    margin: 20px;
    max-width: 70vw;
  }

  input,
  textarea {
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  form {
    margin: 10px;
    max-width: 90vw;
  }

  .form-row {
    flex-direction: column;
  }

  input,
  textarea {
    font-size: 1em;
    margin-bottom: 10px;
  }
}
