.container {
  width: auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2em;
  text-align: start;
  max-width: 80%;
  margin-bottom: 20px;
}

.image-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image {
  flex: 1;
  height: 100%;
  background-image: url("https://jpimg.com.br/uploads/2017/04/672494606-selecao-brasileira-de-volei-bateu-argentina-por-3-sets-0-para-faturar-o-titulo-do-sul-americano.jpg");
  /* background-image: url("https://placehold.co/600x400"); */
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(to left, #0003, #000);
}

.secondary-container {
  background-color: #461E64;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.secondary-container h3 {
  font-size: 2em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.secondary-container div {
  margin: 20px;
  text-align: center;
  flex: 1;
}

.card-row {
  padding: 50px;
  background-color: #252525;
}

a {
  color: white;
}

@media (max-width: 800px) {
  .image-container {
    flex-direction: column;
  }

  .image {
    margin-bottom: 20px;
    height: 200px;
  }

  .secondary-container {
    flex-direction: column;
  }
}
