.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    justify-content: space-between;
    position: relative;
    background-color: black;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
    padding: 6px;
    border-radius: 8px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.highlighted {
    background-color: #461E64;
}

.drawer-toggle {
    background: none;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    display: none;
}

.close-drawer {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: brown;
        transition: width 0.3s ease-in-out;
        overflow-x: hidden;
        z-index: 10;
    }

    .nav.open {
        transform: translateY(0%);
        height: 100%;
        width: 80%;
    }

    .nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .nav li {
        margin: 5px 0;
    }

    .drawer-toggle {
        display: block;
    }
}
