.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 50px;
    justify-content: space-between;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
    padding: 6px;
    border-radius: 8px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.highlighted {
    background-color: purple;
}