.footer {
  height: 50vh;
  display: flex;
}


.contact-section {

  flex: 1;
  padding: 20px;

  display: flex;
  flex-direction: row;

  text-align: center;
  align-items: center;
  justify-content: center;

}

.contact-info {
  min-height: 70%;
  background-color: #f4f4f4;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  flex: 1;

  text-align: start;
  align-items: start;
  justify-content: start;

}