.news {
  /* min-height: 80vh; */
  background-color: #461e64;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  display: flex;
  flex-direction: column;
}

.news-list {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  overflow-x: auto;
  width: 100%;
  justify-content: space-between;
}

.news-item {
  flex: 1;
  max-width: 33%;
}

@media (max-width: 800px) {
  .news-list {
    flex-direction: column;
  }

  .news-item {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .spacing {
    margin-right: 0;
  }
}
